@page
@using Project.ModelsSchool
@model SchoolHomeWebProject.Pages.Students.StudentMenuModel
@{
    ViewData["Title"] = "Menu Student";
}
<link rel="stylesheet" href="~/css/studentMenuStyle.css">
<div>
    <h1>Welcome to School Home</h1>
    <p>Select your option:</p>
    <form method="post">
        <button type="submit" name="inputChoice" value="consultAllLectures" class="btn btn-primary"> Consult All Lectures</button>
        <button type="submit" name="inputChoice" value="MyLectures" class="btn btn-primary">My Lectures</button>
        <button type="submit" name="inputChoice" value="StudentPersonalInformation" class="btn btn-primary">My Informations</button>
       


    </form>
</div>
