.container-menu {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007bff; /* Cor azul para o título */
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form button {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        color: #ffffff;
    }

        form button.btn-primary {
            background-color: #007bff;
        }

            form button.btn-primary:hover {
                background-color: #0056b3;
            }
